* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1b1c1e;
color: white        ;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif; 
    font-size: 59px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}

p {
    color: #d2d2d2;
}
p,input,textarea,label {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,textarea,label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #828282;
}

input,textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit] {
    background-color: #545557;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit] :hover {
   background-color: #fff;
   color: #1b1c1e; 
}

input,text {
    color: white;
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid #828282;

}

a {
    color: #828282;

}

a:hover {
    color: #fff;
}
/* HEADER */

header {
    background-color: black;
    background-image: url("../images/world.png");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;   
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

header .mobile {
    display: none;
}

header .logo a {
    background-image: url("../images/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    position: relative;
    text-indent: -9999999px;
    top: -60px;
    width: 300px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}


/* RESPONSIVE RULES */
@media screen and (max-width: 450px) {
    header {
        height: 250px;
        background-position: 0 -40px ;
    }
    header .mobile {
      display: inline-block;
  } 
  
  header .desktop {
      display: none;
  }

  header .logo a {
    background-image: url("../images/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 110px;
    position: relative;
    text-indent: -9999999px;
    top: -40px;
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
    header {
        height: 200px;
        background-position: 0 -0px;
    }
}

/* FEATURES */

.features {
    background: #1b1c1e;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure {
    margin: auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    width: 200px;
}

.features figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: grey 0 0 10px;
    width: 200px;
}

/* FOOTER */

footer {
    background: black;
    color: grey;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}

